set default=0
set timeout=5
set gfxmode=auto
set gfxpayload=keep

insmod all_video
insmod gzio

terminal_output gfxterm

menuentry "NebulaOS" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisodevice=UUID=${ARCHISO_UUID} nomodeset quiet
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-linux.img
}

menuentry "NebulaOS (Fallback)" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisodevice=UUID=${ARCHISO_UUID} nomodeset
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-linux-fallback.img
}
